@mixin main-background-app {
    background: rgb(200,22,146);
    background: linear-gradient(198deg, rgba(229,63,49,1) 0%, rgba(200,22,146,1) 100%) no-repeat;
}

body{
    @include main-background-app;
    min-height: 900px;
}

