@import 'base';

.Search{
    padding: 10px;
}

.Back{
    padding: 20px 10px 10px;
}

.Cancel{
    margin: 20px 20px 10px !important;
}

.MainAppIcon{
    svg{
        height: 48px;
        width: 48px;
    }
}
